.imgCarrito {
    margin-left: 30px;
    filter: invert(1);
    opacity: 0.85;
}

.contenedorCarrito {
    margin-right: 15px;
}

.contadorCantidad {
    text-decoration: none;
    font-weight: bold;
    color: white;
}